--batch-mode
--errors
--show-version
--no-transfer-progress
-DdeployAtEnd=true
-Duser.timezone=Europe/Berlin
-Dorg.slf4j.simpleLogger.showDateTime=true
-Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS
# Limit checked by org.operaton.bpm.engine.test.bpmn.parse.BpmnParseTest.testFeatureSecureProcessingRejectsDefinitionDueToAttributeLimit
# Required on Java 25
-Djdk.xml.elementAttributeLimit=200