.idea
.vscode
target
.classpath
.project
.settings
.editorconfig
.m2
build.properties
bin
.metadata
transaction.log
nbactions*.xml
nb-configuration.xml
/webapps/fox-platform-tasklist/server-work
dependency-reduced-pom.xml
faces-config.NavData
*.iml
*.sublime-project
*.sublime-workspace
*.h2.db
*.lock.db
**/overlays
**/node_modules
operaton-h2-dbs

*.DS_Store

.java-version
pom.xml.versionsBackup
out/jreleaser
.env
.mvn/*
!.mvn/wrapper/*
*.log
.jython_cache
*.jar
*.war
*.gz
*.class
*.zip
sloc.txt
