<module xmlns="urn:jboss:module:1.0" name="org.operaton.bpm.identity.operaton-identity-ldap">
  <resources>
    <resource-root path="operaton-identity-ldap-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="sun.jdk" />

    <module name="javax.api" />
    <module name="org.operaton.bpm.operaton-engine" />
    <module name="org.operaton.commons.operaton-commons-logging" />

  </dependencies>
</module>
