{
  "presets": [
    // "env",
    [
      "@babel/preset-env",
      {
        "modules": "commonjs", // resolves https://github.com/noppa/ng-hot-reload/issues/31
        "shippedProposals": true
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-polyfill-corejs3",
      {
        "method": "usage-global",
        "version": "3.49"
      }
    ],
    "@babel/plugin-transform-object-rest-spread"
  ]
}
