form {
  display: grid;
  grid-template-columns: 12em min(calc(100% - 2 * var(--spacing-1) - 12em), 30em);
  align-items: center;
  gap: var(--spacing-1);

  /*container: formular / inline-size;*/
}
form:not(:first-child) {
  margin-top: var(--spacing-1);
}
form > * {
  break-inside: avoid-column;
}

form.form-horizontal {
  display: flex;
  flex-direction: column;
  align-items: start;
}
form.form-horizontal > div.form-group {
  margin-top: 1lh;
}
form.form-horizontal > p:first-child {
  font-style: italic;
}


/*td form {*/
/*  container*/
/*}*/

label {
  vertical-align: center;
}

button, .button, .button:visited {
  border: none;
  margin-top: 1em;
  box-sizing: content-box;

  background: var(--background-2);
  color: var(--text);

  background-clip: padding-box;
  border-radius: var(--border-radius-2);
  padding: var(--spacing-1) var(--spacing-2);
  font-weight: 500;
  line-height: 1;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  gap: var(--spacing-1);

  font-size: var(--small-font-size);

  &[type=submit], &.primary {
    background: var(--color-primary);
    color: white;
  }

  &.secondary {
    border: var(--border-width) solid var(--border-color-2);
    background: transparent;
  }

  &.neutral {
    background: var(--background-1);
    color: var(--text);
    border: none;
    font-weight: normal;
    font-size: var(--base-font-size);
  }
  &.danger {
    background: var(--background-1);
    border-color: var(--color-danger-transparent);
    color: var(--color-danger);
  }
}

:where(form, menu, li, ul) :is(button, .button, .button:visited) {
  margin-top: 0;
}

button.link {
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
}

/*button.link:hover {*/
/*  text-decoration: double .3em black;*/
/*  outline: none;*/
/*  margin-bottom: 1em;*/
/*}*/

/* TODO: better name? */
.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: var(--spacing-1);
}

.input-wrapper:first-child {
  margin-top: 0;
}

/* TODO: may be style needs to be adjusted, error form validation */
:where(input, select):user-invalid {
  outline: var(--border-width-2) solid var(--color-danger);
}

:where(button, .button, select, input):hover {
  cursor: pointer;
  outline-style: solid;
  z-index: 999;
  transition: 50ms all;
}

:where(a, button, input, select):focus {
  transform: rotate(0);
  outline: var(--border-width-2) solid var(--color-primary);
  border-color: var(--color-primary);
  border-radius: var(--border-radius);
}

:where(a, button, input, select):active {
  outline: var(--border-width-2) dashed var(--color-primary);
  transition: 50ms all;
}

button[type=submit]:is(:focus, :active, :hover) {
  outline: .1em solid var(--color-primary);
}

:where(button, select, input):disabled {
  cursor: not-allowed;
  outline-style: none;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1);
  grid-column: 1 / span 2;
  justify-content: end;
  align-items: center;
}

td.button-group {
  padding: 0;
  flex-wrap: nowrap;
  justify-content: start;
}

td button {
  margin-top: 0;
}

input,
select,
textarea {
  padding: .3em .7em;
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--background-1);
  font: var(--body-font-family);
  color: var(--text);
}
input,
textarea {
  cursor: text !important;
}

input,
select {
  line-height: 1;
}

:where(input, select, textarea, button):disabled,
form :where(input, select, textarea, button):read-only {
  background: var(--background-2);
  color: var(--text-disabled);
}


option {
  font-size: var(--base-font-size);

  &[disabled] {
    color: var(--text-disabled);
    font-size: var(--small-font-size);
  }
}

.error {
  color: var(--color-danger);
  /*background: var(--color-danger-transparent);*/
  padding: var(--spacing-2);
  border: .1em solid var(--color-danger);
  border-radius: var(--border-radius-2);
}