
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  overflow-y: auto;
  overscroll-behavior: none;
  height: calc(100vh - 2rem);
} main.split-layout {
  display: grid;
  grid-template-columns: max-content minmax(max-content, 1fr);
}


#top {
  display: flex;
  align-items: center;
  border-bottom: var(--border);
  height: 2rem;
  padding: 0 var(--spacing-1);
}

#mobile-menu-toggle {
  display: none;
}

#nav-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: var(--small-font-size);
} #nav-wrapper > div:last-child {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

#skip-links {
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 100ms;
  position: absolute;
  left: -999vw;
  background: var(--background-1);
  padding: var(--spacing-2);
} #skip-links:focus-within {
  width: auto;
  height: auto;
  opacity: 1;
  transition: opacity 100ms;
  left: 0;
  position: fixed;
}

nav { padding: 0 var(--spacing-1); }
nav > menu { gap: 0 var(--spacing-2); }
nav menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
} nav menu li a {
  color: var(--text);
  display: block;
  padding: var(--spacing-1);
} nav menu li a:visited {
  color: var(--text);
} nav menu li a.active {
  color: var(--color-primary);
}

#primary-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1) var(--spacing-2);
  justify-content: space-between;
  align-items: center;
}

#secondary-navigation {
  display: flex;
  flex-wrap: wrap;
} #secondary-navigation > menu {
  gap: var(--spacing-1);
}

#server-selector {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}
#server-selector select {
  border: none;
  background: transparent;
  padding: 0 var(--spacing-1) 0 0;
  letter-spacing: 0.03rem;
  width: 12ch;
  text-overflow: ellipsis;
}

/* header */

#app > header > nav > menu {
  padding: 0;
  letter-spacing: 0.03rem;
} #app > header > nav menu > li > a {
  padding: 0 var(--spacing-1);
  margin: var(--spacing-1) 0;
} #app > header > nav menu > li > a.active {
  /*font-weight: bold;*/
  color: var(--text);
  background: var(--background-3);
  border-radius: var(--border-radius);
} #app > header > nav menu a {
  color: var(--text);
  text-decoration: none;
}

.screen-hidden {
  position: absolute;
  left: -999vw;
  height: 0;
  width: 0;
}
