.reports-wrapper {
  position: absolute;
  top: $breadcrumb-height;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

.reports-plugin-wrapper,
.no-reports-available,
.reporting-chart-holder,
.chart-info {
  // Use calc for safety in case $grid-gutter-width is in rem
  margin-top: calc(#{$grid-gutter-width} * 0.5);
}

.reporting-table {
  > thead > tr > th:first-of-type {
    min-width: 90px;
  }
  th,
  td {
    text-align: right;
  }
  td {
    font-family: monospace;
  }
  tbody th {
    width: 3em;
  }
}

[cam-duration-report-query] {
  // Using the BS4 variables we mapped earlier
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .row-md-half {
      margin: 0;
      width: 50%;
      float: left;
      &:nth-child(1) {
        padding-right: 15px;
      }
      &:nth-child(2) {
        padding-left: 15px;
      }
    }
  }
}

[cam-duration-report-result] {
  // Placeholder for any styles needed here
}

// 1. Font Path and @font-face Conversion
$cam-reporting-font-path: '../scripts/reports/fonts/';

@font-face {
  font-family: 'cam-reporting';
  // Use #{$variable} for path interpolation
  src: url('#{$cam-reporting-font-path}cam-reporting.eot');
  src: url('#{$cam-reporting-font-path}cam-reporting.eot#iefix') format('embedded-opentype'),
  url('#{$cam-reporting-font-path}cam-reporting.woff') format('woff'),
  url('#{$cam-reporting-font-path}cam-reporting.ttf') format('truetype'),
  url('#{$cam-reporting-font-path}cam-reporting.svg#cam-reporting') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cam-reporting-"]:before, [class*=" cam-reporting-"]:before {
  font-family: "cam-reporting";
  font-style: normal;
  font-weight: normal;
  // Note: speak is non-standard but kept for compatibility
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;
  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cam-reporting-pie-chart:before { content: '\e800'; }
.cam-reporting-lines-chart:before { content: '\e801'; }
.cam-reporting-bars-chart:before { content: '\e802'; }
.cam-reporting-areas-chart:before { content: '\e803'; }
.cam-reporting-grid:before { content: '\e804'; }