<module xmlns="urn:jboss:module:1.0" name="org.operaton.connect.operaton-connect-core">
  <resources>
    <resource-root path="operaton-connect-core-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.operaton.commons.operaton-commons-logging" />
    <module name="org.operaton.commons.operaton-commons-utils" />
  </dependencies>
</module>
