/* list */

.list-container {
  display: flex;
}

.list-wrapper {
  width: clamp(20ch, 20vw, 30ch);
}

.list {
  list-style: none;
  padding: var(--spacing-1);
  margin: var(--spacing-1) 0;
  overflow-y: auto;
  position: relative;
  width: calc(clamp(20ch, 20vw, 30ch) - var(--spacing-1) * 2);
}

.list li {
  border-top: var(--border-width) solid var(--border-color);
  font-size: var(--small-font-size);
  word-break: break-word;
}

.list li a {
  padding: var(--spacing-2);
  border-radius: var(--border-radius);
  color: var(--text);
  text-decoration: none;
  display: block;
  background: none;
  line-height: 1;
}

.list li.selected {
  border-radius: var(--border-radius);
  border-top-color: transparent;
}

.list li.selected a {
  background-color: var(--background-3);
}

.list li.selected a:focus {
  background-color: var(--color-primary-transparent);
}

.list li:first-child:not(.selected),
.list li.selected + li {
  border-color: transparent;
}

.list .title {
  font-size: var(--h4-size);
  font-weight: normal;
  margin: var(--spacing-1) 0;
}

.list .title:first-child {
  margin-top: 0;
}

.list :where(header, footer) {
  display: flex;
  justify-content: space-between;
}


/* logo */

#logo {
  letter-spacing: 0.2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;

  a {
    color: var(--text);
    text-decoration: none;
  }
}

/* icon */

.icon {
  height: 1rem;
}

svg.size-6 {
  width: 1rem;
  height: 1rem;
}

/* skip to content links */

#skip-to-content-link {
  background: var(--color-primary);
  font-weight: bold;
  color: white;
  border: var(--border-width-2) solid var(--color-primary-transparent);
  position: absolute;
  transform: translateY(-100vh);
  transition: transform 0.3s;
  margin: var(--spacing-2);
  padding: var(--spacing-2);
  border-radius: var(--border-radius-2);
  background-clip: padding-box;
}

#skip-to-content-link:focus {
  transform: translateY(0%);
}

#skip-action-buttons-link {
  width: 0;
  opacity: 0;
  display: inline-block;
  white-space: nowrap;
  overflow-x: clip;
  border-right: none;

  color: var(--text);
  border-radius: var(--border-radius-2);
}

#skip-action-buttons-link:focus {
  width: auto;
  opacity: 100%;
  border-right: inherit;
  padding: var(--spacing-1) var(--spacing-2);
  font-size: var(--small-font-size);
}

.action-bar > li:first-child:has(a#skip-action-buttons-link) {
  border-right: none;
}

/* processes and defintions */

h1 > span.selected {
  font-weight: normal;
  text-decoration: underline dashed;
}


main#processes {
  max-width: 100vw;
  overflow: hidden;

  #left-side {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 10;
  }

  #selection {
    overflow-y: auto;
    padding: var(--spacing-2);
    resize: horizontal;
    min-width: 30ch;
    max-width: calc(100vw - 30ch - 2 * var(--spacing-2));
    overflow-x: clip;
    box-sizing: content-box;
    flex: 1;
  }


  #history-mode-indicator {
    padding: var(--spacing-1);
    text-align: center;
    font-weight: bold;
    background: var(--background-2);
    border-top: var(--border);

    &.on {
      background: var(--color-primary);
      border-top: none;

      button {
        color: white;
      }

      button:hover {
        border-color: white;
      }

    }

    button {
      background: transparent;
      margin: 0;
    }
  }

  #canvas {
    /*overflow: scroll;*/
    /*min-width: 30ch;*/
    /*width: 100%;*/
    /*resize: horizontal;*/
    /*z-index: -10;*/
    max-width: 100%;
    position: relative;

    &::before {
      content: ' ';
      width: var(--spacing-1);
      background: linear-gradient(to right, var(--background-1), transparent);
      height: 100%;
      display: inline-block;
      position: fixed;
      z-index: 999;
    }
  }
}

/* tabs */

.tabs {
  /*height: 100%;*/
  position: relative;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.tabs #diagram {
  height: 100%;
}

.tabs > .tab-selection {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--spacing-1);
  background: var(--background-2);
  /*position: sticky;*/
  top: 0;
  z-index: 10;
  gap: var(--spacing-1);
}

.tabs > .tab-selection > a {
  /*border: var(--border);*/
  padding: var(--spacing-1) var(--spacing-2);
  padding-top: calc(var(--spacing-1) + var(--border-width-3) - var(--border-width));
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: var(--text);
  text-decoration: none;
  display: inline-block;
  position: relative;
  outline-offset: calc(-1 * var(--border-width-2));
}

.tabs > .tab-selection > a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.tabs > .tab-selection > a[aria-selected="true"] {
  background: var(--background-1);
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: .2em;
  text-underline-offset: .4em;
}

.tabs > .selected-tab {
  /*border: var(--border);*/
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);

  padding: var(--spacing-1);
  overflow-y: auto;
  /*height: 100%;*/
  /*position: relative;*/
}

.tabs-back {
  background: var(--background-2);
  padding: var(--spacing-1);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  justify-content: space-between;

  &.bg-1 {
    background: var(--background-1);
  }

  > svg {
    height: 1rem;
    width: 1rem;
    color: var(--text);
    stroke-width: .1rem;
    stroke-linecap: round;
  }
}


/* accordion */

div.accordion {
  border: var(--border);
  border-radius: var(--border-radius);
  margin-top: 1rem;

  details {
    border-bottom: var(--border);

    summary {
      display: flex;
      align-items: center;
      gap: var(--spacing-1);
      padding: var(--spacing-1);
      cursor: default;
    }

    summary::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5' /%3E%3C/svg%3E%0A");
      background-size: 1rem 1rem;
      display: inline-block;
      width: 1rem;
      height: 1rem;
    }

    .panel {
      padding: 0 var(--spacing-2) var(--spacing-2) var(--spacing-2);
    }
  }

  details[open] {
    background: var(--background-2);

    > summary::before {  transform: rotate(90deg); }

    details[open] { background: var(--background-1); }
  }

  details:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  details:last-child {
    border-bottom: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}


/* bpmn diagram */

#processes .react-bpmn-diagram-container { height: 100%; }

.overlay-badge { padding: 2px; }

.c-hand { cursor: pointer; }

.copy-on-click {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-1);

  &:hover {
    cursor: copy;
    background-color: var(--color-primary-transparent);
    border-radius: var(--spacing-4);
  }

  &:active {
    background-color: var(--color-primary);
    color: white;
  }
}

/* global search */

dialog#global-search {
  height: 80%;
}



/* TODO: needs to be designed */
/* info box */
.info-box {
  padding: var(--spacing-2);
  border: 2px solid var(--color-primary);
}

/* breadcrumbs */

.breadcrumbs {
  display: inline-flex;
  padding: 0;
  list-style: none;
  margin: 0;

  > * {
    line-height: 1;
    padding: .3em .5em .3em 0;
    font-size: var(--small-font-size);
    /*text-decoration: none;*/
    color: var(--text-2);

    &:not(:first-child)::before {
      content: "/";
      margin-right: .5em;
      color: var(--text-2);
      font-weight: normal;
    }

    *:last-child {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      color: var(--text);
      /*font-weight: 600;*/
    }
  }

  a:visited {
    color: var(--text-2);
  }
}

/* deployments page */

.process-details {
  overflow-y: auto;
  padding: var(--spacing-2);
  flex: 1;
}

.bpmn-viewer .react-bpmn-diagram-container {
  height: 100%;
  min-height: 40vh;
}

/* account */
#account-page {
  display: flex;
}

#account-page > section {
  margin: 0;
  padding: var(--spacing-2);
  overflow-y: auto;
  width: calc(100% - var(--spacing-3));
  flex: 1;
  background-clip: padding-box;
}

#account-page dialog table td.fill {
  width: 100%;
}

#go-to {
  font-size: .8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: none;
  padding: 0 .2em;
}


/* StartProcessList */

#start-task {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  header {
    padding: var(--spacing-2);
  }

  > .row {
    padding: var(--spacing-2);
    gap: var(--spacing-2);

    > div:last-child {
      flex-grow: 1;
    }
  }
}
