table {
  th {
    &.start-time,
    &.end-time {
      width: 160px;
    }

    &.sorting {
      text-align: right;
    }
  }

  td.definitionId {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

table.processes-list {
  th {
    &.instances {
      width: 150px;
    }
  }
}

.deployed-processes .tab-pane {
  overflow: hidden;

  > table {
    margin: calc(#{$grid-gutter-width} / 2) 0;
  }

  .diagram-rendering-error {
    margin-top: 88px;
  }
}

.tile-grid {
  overflow: hidden;
  padding: 0;
  // Calculation for negative horizontal margin to offset tile padding
  margin: calc(#{$grid-gutter-width} / 2)
    calc(0px - (#{$grid-gutter-width} / 2));
}

.tile-header,
.tile-footer {
  margin: 0;
  background: $breadcrumb-bg;
  border: 1px solid $breadcrumb-divider-color; // Mapped from @breadcrumb-color
  padding: $padding-base-vertical;
}

.tile-header {
  border-bottom: none;
  border-radius: 0;
  padding: $padding-base-vertical;

  // Replaces .border-top-radius
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;

  // Replaces .text-overflow
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tile-body {
  height: 218px;
  border: 1px solid $breadcrumb-divider-color;
  text-align: center;
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tile-footer {
  line-height: 30px;
  font-size: 16px;
  border-top: none;

  // Replaces .border-bottom-radius
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;

  position: relative;

  .instances {
    width: 100%;
    display: block;
    padding-right: 40px;

    // Replaces .text-overflow
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [state-circle] {
    position: absolute;
    top: 50%;
    margin-top: calc(0px - (#{$state-circle-size} / 2));
    right: $padding-base-vertical;
  }
}

.tile {
  margin-bottom: calc(#{$grid-gutter-width} / 2);

  > a {
    display: block;
    width: 100%;
    color: $gray-600; // Map @gray to $gray-600

    &:hover,
    &:focus {
      // fade(@color, 50) in LESS is 50% opacity -> rgba($color, 0.5)
      box-shadow: 0 1px 4px rgba($link-color, 0.5);

      .tile-header,
      .tile-footer {
        border-color: $link-color;
      }

      .tile-body {
        border-left-color: $link-color;
        border-right-color: $link-color;
      }
    }
  }
}

span {
  &.tile-body,
  &.tile-footer {
    display: block;
  }
}

.search-results-sorting {
  text-align: right;
}
