@import '~operaton-commons-ui/resources/scss/shared/_mixins.scss';

@mixin link($color, $hover-color) {
  a {
    color: $color;

    &:hover,
    &:focus {
      // Mapping @link-hover-decoration to BS4 standard
      text-decoration: if(
        variable-exists(link-hover-decoration),
        $link-hover-decoration,
        none
      );
      outline: none;
      color: $hover-color;
    }
  }
}

@mixin content-link($bg: $body-bg) {
  text-decoration: none;
  box-shadow:
    0 -2px 0 0 $bg inset,
    0 -3px 0 0 currentColor inset;
  text-shadow:
    -3px 1px 0 $bg,
    3px 1px 0 $bg,
    -2px 1px 0 $bg,
    2px 1px 0 $bg,
    -1px 1px 0 $bg,
    1px 1px 0 $bg;
}

@mixin link-no-decoration() {
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.link-no-decoration() {
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
