@import 'shared/variables'; // Assuming this is converted to _variables.scss

$brand-logo: 'resources/img/operaton-logo.png';
$font-path: './vendor/fonts/';
$bpmn-font-path: $font-path;
$icon-font-path: $font-path;
$dmn-font-path: $font-path;

// 2. Library & Widget Imports
@import 'shared/bootstrap';
@import 'shared/base';
@import 'inline-field/cam-widget-inline-field';
@import 'bpmn-viewer/cam-widget-bpmn-viewer';
@import 'cmmn-viewer/cam-widget-cmmn-viewer';
@import 'dmn-viewer/cam-widget-dmn-viewer';

@import 'footer/cam-widget-footer';
@import 'header/cam-widget-header';
@import 'loader/cam-widget-loader';
@import 'search/cam-widget-search';
@import 'cam-share-link/cam-share-link';
@import 'search-pill/cam-widget-search-pill';
@import 'variable/cam-widget-variable';
@import 'variables-table/cam-widget-variables-table';
@import 'clipboard/cam-widget-clipboard';
@import 'password/cam-widget-password';

// 3. Custom Styles for the testing suite
.cam-brand-header {
  @include cam-corporate-header-base();

  a {
    @include cam-corporate-header-link();
  }

  .navbar-brand {
    @include cam-corporate-header-branding();
  }

  .container .navbar-brand {
    padding-left: 0;
  }

  .brand-logo::before {
    color: $primary; // Mapping @brand-primary to BS4 $primary
    display: inline-block;
    font-family: 'bpmn';
    font-style: normal;
    font-weight: normal;
    content: '\e831';
  }
}

.cam-brand-footer {
  @include cam-corporate-footer-base();
}

// 4. Grid & Definition Lists
dd {
  padding-left: $grid-gutter-width;
  max-width: 550px;
}

dt + dd {
  margin-bottom: calc($grid-gutter-width / 2);
}

dd li {
  margin-top: calc($grid-gutter-width / 2);
}

// 5. Body & Layout
body {
  // Use $header-height if defined, otherwise ensure it's set in variables
  padding-top: $header-height;

  > .page-wrapper {
    @extend .container-fluid; // Replaces .container-fluid() mixin

    // Mapping BS3 screen-min variables to BS4 breakpoints
    @media (min-width: map-get($grid-breakpoints, 'sm')) {
      width: map-get($container-max-widths, 'sm');
    }

    @media (min-width: map-get($grid-breakpoints, 'md')) {
      width: map-get($container-max-widths, 'md');
    }

    @media (min-width: map-get($grid-breakpoints, 'lg')) {
      width: map-get($container-max-widths, 'lg');
    }
  }

  &.gh-pages {
    h1,
    h2,
    h3,
    h4 {
      font-weight: 100;
    }

    h1 {
      text-transform: uppercase;
    }

    &.readme .content {
      margin-top: 10px;
    }

    > footer,
    > footer > nav {
      text-align: right;
      overflow: hidden;
    }

    > .page-wrapper {
      padding-left: 160px;

      > nav {
        width: calc(160px - $grid-gutter-width);
        position: fixed;
        margin: 0;
        overflow: auto;
        left: calc($grid-gutter-width / 2);
        top: 60px;
        bottom: calc($grid-gutter-width * 1.5);

        li {
          display: block;
        }

        a {
          display: inline-block;
          font-size: 1.2em;
        }

        .active a {
          text-decoration: underline;
        }
      }
    }
  }
}

// 6. Widget References
.widget-description,
.widget-reference {
  font-size: 16px;
  line-height: 22px;
}

.widget-reference {
  dt {
    font-family: monospace;

    > .function-definition {
      color: $gray-600; // Mapping @gray-light to BS4 $gray-600
      font-weight: lighter;

      > .params {
        font-style: italic;
      }

      > .returns {
        font-weight: bolder;
      }
    }
  }
}

.widget-example {
  margin: calc($grid-gutter-width / 2) 0;
  padding: calc($grid-gutter-width / 2) 0;

  [ng-non-bindable] {
    margin-bottom: $grid-gutter-width;
  }
}

.test-container {
  @extend .container;

  max-width: 100% !important;
  position: relative;
  padding: $grid-gutter-width;
  border: 1px solid $gray-200;
  background: url(resources/img/check-pattern.png);
  background-color: $gray-200;
}

// 7. Test Overrides
.cam-widget-header-test-page .test-container {
  padding-top: $header-height;

  .test-container {
    overflow: hidden;
    min-height: 200px;
  }
}

.test-container > [cam-widget-header],
.test-container > [cam-widget-footer] {
  position: absolute;
}
