<module xmlns="urn:jboss:module:1.0" name="org.operaton.bpm.dmn.operaton-engine-feel-scala">
  <resources>
    <resource-root path="operaton-engine-feel-scala-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="org.slf4j" />
    <module name="sun.jdk" />
    <module name="org.operaton.bpm.dmn.operaton-engine-feel-api" />
    <module name="org.operaton.commons.operaton-commons-typed-values" />
    <module name="org.operaton.commons.operaton-commons-logging" />

    <module name="org.operaton.bpm.operaton-engine-plugin-spin" optional="true" />

    <module name="org.camunda.feel.feel-engine" />
  </dependencies>
</module>
