<?xml version='1.0' encoding='UTF-8'?>
<module xmlns="urn:jboss:module:1.1" name="com.mysql.mysql-connector-j">

    <resources>
        <resource-root path="mysql-connector-j-@version.mysql@.jar"/>
    </resources>

    <dependencies>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.transaction.api"/>
    </dependencies>
</module>