<module xmlns="urn:jboss:module:1.1" name="com.ibm.db2.jcc">
  <resources>
    <resource-root path="jcc-@version.db2@.jar"/>
  </resources>
  
  <dependencies>
    <module name="jakarta.enterprise.api" />
    <module name="jakarta.transaction.api" />
    <module name="jdk.net"/>
  </dependencies>
</module>