<module xmlns="urn:jboss:module:1.0" name="com.lihaoyi.fastparse_2.13">
  <resources>
    <resource-root path="fastparse_2.13-@version.fastparse@.jar" />
  </resources>

  <dependencies>
    <module name="org.scala-lang.scala-library" />
    <module name="com.lihaoyi.geny_2.13" />
    <module name="com.lihaoyi.sourcecode_2.13" />
  </dependencies>
</module>
