@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.animate-spin {
  display: inline-block;
  // Standard CSS property; Autoprefixer will add -webkit- if needed
  animation: spin 1s infinite linear;
}
