@import "mixins";

.form-control {

  // Placeholder styling
  &::placeholder { font-style: italic; opacity: 1; } // Modern standard
  &::-webkit-input-placeholder { font-style: italic; }
  &::-moz-placeholder { font-style: italic; }
  &:-ms-input-placeholder { font-style: italic; }

  border: 1px solid $input-border;
  color: $input-color;
  box-shadow: $input-box-shadow;

  &:hover {
    color: $input-border-focus;
  }

  &:focus {
    box-shadow: $input-box-shadow-focus;
  }

  // Legacy Validation States (BS3 compatibility)
  .has-success & {
    color: $success;
  }

  &.ng-dirty.ng-invalid,
  .has-error & {
    color: $danger;
  }

  .has-warning & {
    color: $warning;
  }

  .has-success &,
  &.ng-dirty.ng-invalid,
  .has-error &,
  .has-warning & {
    box-shadow: $input-box-shadow;

    &:focus {
      box-shadow: $input-box-shadow-focus;
    }
  }

  /* stylelint-disable no-descending-specificity */
  &[disabled],
  &[readonly],
  .disabled-form &,
  fieldset[disabled] & {
    color: $gray-light;
    background-color: $gray-lighter;

    &:focus {
      background-color: $gray-lighter;
      box-shadow: $input-box-shadow-focus;
    }
  }

  &[type="checkbox"],
  &[type="radio"] {
    width: auto;
    height: auto;
  }

  &[type="file"] {
    border: none !important;

    &:focus {
      outline: none;
    }

    &.ng-invalid {
      color: $danger;
      // Sass mix() function works exactly like LESS mix()
      background-color: mix($input-bg, $danger-bg);
    }
  }
}

a.form-control-static {
  display: block;
}

.help-block {
  font-size: 90%;

  &.error {
    color: $brand-danger;
  }
}

.form-group + .help-block {
  // In Sass, we ensure the calculation is clear
  margin-top: (0 - $padding-base-vertical);
}

.disabled-form {
  position: relative;

  &::before {
    display: block;
    content: ' ';
    // fade(color, 33%) in LESS becomes rgba(color, 0.33) in SCSS
    background-color: rgba($gray-lighter, 0.33);
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    cursor: not-allowed;
    z-index: 1000;
  }
}