@import '_app-variables';
@import '~ui/common/styles/cam-webapps-common.scss';
@import '~ui/common/styles/app-splash';

/* ---------------------------------------------------------------- */
// operaton-commons-ui widgets

@import '~operaton-commons-ui/lib/widgets/variable/cam-widget-variable';
@import '~operaton-commons-ui/lib/widgets/variables-table/cam-widget-variables-table';
@import '~operaton-commons-ui/lib/widgets/bpmn-viewer/cam-widget-bpmn-viewer';
@import '~operaton-commons-ui/lib/widgets/cmmn-viewer/cam-widget-cmmn-viewer';
@import '~operaton-commons-ui/lib/widgets/cam-share-link/cam-share-link';
@import '~operaton-commons-ui/lib/widgets/inline-field/cam-widget-inline-field';
@import '~operaton-commons-ui/lib/widgets/search-pill/cam-widget-search-pill';
@import '~operaton-commons-ui/lib/widgets/search/cam-widget-search';

/* ---------------------------------------------------------------- */

@import './layout';
@import './forms';
@import './loader';
@import './modal';
@import './notifications-panel';

// @import "filter/directives/cam-tasklist-filters";
@import '~ui/tasklist/client/scripts/filter/directives/cam-tasklist-filter-modal-form';
@import '~ui/tasklist/client/scripts/filter/directives/cam-tasklist-filter-modal-form-permission';
@import '~ui/tasklist/client/scripts/filter/directives/cam-tasklist-filters';
@import '~ui/tasklist/client/scripts/tasklist/directives/cam-tasklist-tasks';
@import '~ui/tasklist/client/scripts/task/plugins/detail/cam-tasklist-task-detail-diagram-plugin';
@import '~ui/tasklist/client/scripts/task/plugins/detail/cam-tasklist-task-detail-history-plugin';
@import '~ui/tasklist/client/scripts/task/plugins/action/cam-tasklist-task-action-comment-plugin';
@import '~ui/tasklist/client/scripts/task/directives/cam-tasklist-task-meta';
@import '~ui/tasklist/client/scripts/task/directives/cam-tasklist-task';
@import '~ui/tasklist/client/scripts/task/modals/cam-tasklist-groups-modal';
@import '~ui/tasklist/client/scripts/process/plugins/action/modals/cam-tasklist-process-start-modal';
@import '~ui/tasklist/client/scripts/form/directives/cam-tasklist-form-generic';
@import '~ui/tasklist/client/scripts/form/directives/cam-tasklist-form-external';
