<module xmlns="urn:jboss:module:1.0" name="org.operaton.spin.operaton-spin-dataformat-xml-dom">
  <resources>
    <resource-root path="operaton-spin-dataformat-xml-dom-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.desktop" />
    <module name="jakarta.xml.bind.api"/>
    <module name="org.operaton.spin.operaton-spin-core" />
    <module name="org.operaton.commons.operaton-commons-logging" />
    <module name="org.operaton.commons.operaton-commons-utils" />
    <module name="org.operaton.commons.operaton-commons-typed-values" />
  </dependencies>

</module>
