<module xmlns="urn:jboss:module:1.0" name="org.operaton.bpm.operaton-engine-plugin-connect">
  <resources>
    <resource-root path="operaton-engine-plugin-connect-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />

    <module name="org.operaton.bpm.operaton-engine" />

    <module name="org.operaton.connect.operaton-connect-core" />
    <module name="org.operaton.connect.operaton-connect-http-client" services="import" />
    <module name="org.operaton.connect.operaton-connect-soap-http-client" services="import" />

  </dependencies>
</module>
