/* stylelint-disable no-descending-specificity -- contains non-trivial nesting */

@import '~operaton-commons-ui/resources/scss/shared/bootstrap.scss';
@import '~operaton-commons-ui/resources/scss/shared/base.scss';

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.text-help {
  font-style: italic;
  font-size: 90%;
  color: $gray;
  margin-bottom: ($grid-gutter-width / 2);
}

.list-inline > li {
  //padding: 1px 5px;
}

.dropdown-menu {
  > li {
    padding: 0;
    margin: 2px 0;

    a {
      padding: 2px 9px;
      display: block;
    }
  }

  > .active,
  > li:hover {
    a {
      padding-left: 4px;
      border-width: 0 0 0 3px;
      margin-left: 2px;
      border-style: solid;
      color: $black;
      border-color: $brand-primary;
    }
  }

  > li:hover {
    a {
      color: $black;
      border-color: $link-color;
    }
  }
}

.tab-content {
  position: relative;
  padding-top: ($grid-gutter-width * 0.5);
}

.tooltip .tooltip-inner {
  word-wrap: break-word;
}

.btn-link:hover {
  color: $link-hover-color;
}

.glyphicon-fire {
  color: $brand-danger;
}

.form-actions {
  text-align: right;
}

/* ---------------------------------------------------------------- */

// Give the tabs something to sit on
.nav-tabs {
  margin-top: 5px;

  > li {
    text-align: center;
    border: none;

    &:first-of-type {
      > a {
        margin-left: 0;
      }
    }

    > a {
      border: none;
      background: none;
      overflow: hidden;
      margin: 0 2px;
      display: block;
      position: relative;
      padding: 10px 15px;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.218s ease;
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        background: none;
        border-bottom: 3px solid $link-hover-color;
        color: $navbar-default-link-hover-color;
      }
    }

    &:hover,
    &:focus {
      border: none;
      background: none;
    }

    &.active {
      border: none;

      > a {
        &,
        &:hover,
        &:focus {
          color: $black;
          background: none;
          border: none;
          cursor: default;
          border-bottom: 3px solid $brand-primary;
        }
      }
    }
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  // In Bootstrap 3, "Small" started at 768px (Tablets).
  // In Bootstrap 4, "Small" was downsized to 576px (Landscape phones), and "Medium" took over the 768px slot.
  @media (min-width: map-get($grid-breakpoints, md)) {
    > li > a {
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }
}

/* ---------------------------------------------------------------- */

[cam-widget-search] .main-field,
[cam-widget-search] [cam-widget-search-pill] {
  max-width: 100%;
}

/* ---------------------------------------------------------------- */

.modal-dialog {
  .operaton-ee-license-missing {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;

    > div {
      width: 100%;
    }
  }
}

.operaton-ee-license-missing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;

  .alert {
    margin: 0;
  }

  > div {
    width: 400px;
  }

  .stats-section view > & {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;

    > div {
      width: auto;
    }
  }
}

.fjs-powered-by {
  display: none;
}

// Import bootstrap-icons BEFORE any files that use @extend .bi-* classes
$bootstrap-icons-font-dir: '~bootstrap-icons/font/fonts';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

@import '~operaton-commons-ui/resources/scss/shared/animation-spin';
@import './modal.scss';
@import 'directives/notifications-panel.scss';
@import 'directives/pagination.scss';
@import '~operaton-commons-ui/lib/auth/page/login';
@import '~operaton-commons-ui/lib/widgets/clipboard/cam-widget-clipboard';
@import '~operaton-commons-ui/lib/widgets/header/cam-widget-header';
@import '~operaton-commons-ui/lib/widgets/footer/cam-widget-footer';
@import 'glyphicons-bootstap-map.scss';
//@import './glyphicon-overrides.scss';
@import '@bpmn-io/form-js/dist/assets/form-js.css';
