<module xmlns="urn:jboss:module:1.0" name="org.camunda.feel.feel-engine">
  <resources>
    <resource-root path="feel-engine-@version.feel-scala@-scala-shaded.jar" />
  </resources>

  <dependencies>
    <module name="sun.jdk" />
    <module name="org.slf4j" />
    <!-- Needed for feel-engine 1.20.0+ due to jackson-module-scala -->
    <module name="org.scala-lang.scala-library" />
    <!-- Needed for feel-engine 1.20.0+ to use Operaton's Jackson version -->
    <module name="com.fasterxml.jackson.core.jackson-core" slot="@version.jackson@" />
    <module name="com.fasterxml.jackson.core.jackson-annotations" slot="@version.jackson@" />
    <module name="com.fasterxml.jackson.core.jackson-databind" slot="@version.jackson@" />
  </dependencies>
</module>
