name: Code Cleanup

on:
  schedule:
    - cron: "30 1 * * *"     # Runs at 1:30 AM UTC daily
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2
          key: "${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}"
          restore-keys: ${{ runner.os }}-m2
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        run: .devenv/scripts/build/build.sh --profile=max --skip-tests
      - name: Code Cleanup
        run: |
          .devenv/scripts/maintenance/code-cleanup.sh --cleanups=imports,code
          .devenv/scripts/maintenance/code-cleanup.sh --cleanups=tests
      - name: Verification Build
        run: .devenv/scripts/build/build.sh --profile=max --skip-tests
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 #v8.1.0
        with:
          title: '[bot] Code cleanup'
          commit-message: 'refactor(cleanup): Apply coding rules'
          body: |
              ## Code Cleanup
  
              This PR cleans up the code using OpenRewrite recipes configured in [`rewrite.yml`](https://github.com/operaton/operaton/blob/main/rewrite.yml).
          branch: 'refactor/automatic-code-cleanup'
          labels: refactoring
          milestone: '1.0.0-rc-1'
          reviewers: kthoms
