# This is an empty workflow for experiments
# Workflows can only be executed when they exist on the main branch.
# To use this workflow create a branch and do your experimental workflow changes on the branch.

name: Experimental workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    # inputs:
    #   name:
    #   type: string

jobs:
  execute:
    runs-on: ubuntu-latest

    steps:
    # Runs a single command using the runners shell
    - name: Run commands
      run: |
        echo "Done"
