# This is an empty workflow for experiments
# Workflows can only be executed when they exist on the main branch.
# To use this workflow create a branch and do your experimental workflow changes on the branch.

name: Experimental workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    # inputs:
    #   name:
    #   type: string

jobs:

  deploy-snapshots:
    name: Deploy Snapshots
    runs-on: ubuntu-latest
    if: |
      always() && !cancelled() && (
        (github.event_name == 'workflow_dispatch' && github.event.inputs.skip_build != 'true')
      )
    steps:
      - name: Check out the code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17
      - name: Import GPG key
        shell: bash
        run: |
          echo "$GPG_SECRET_KEY" | gpg --batch --import
          gpg --list-secret-keys --keyid-format LONG
        env:
          GPG_SECRET_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Create settings.xml
        shell: bash
        run: |
          cat > .mvn/settings.xml <<EOF
          <settings>
          <servers>
           <server>
             <id>central</id>
             <username>${{ secrets.OSSRH_USERNAME2 }}</username>
             <password>${{ secrets.OSSRH_PASSWORD2 }}</password>
           </server>
          </servers>
          </settings>
          EOF
      - name: Deploy to Maven Central
        run: |
          ./mvnw deploy -DskipTests -s ./.mvn/settings.xml -Psonatype-oss-release,-distro
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
