name: Maintenance

on:
  workflow_dispatch:
    inputs:
      slack_url:
        description: 'Update Slack Invitation URL'
        type: string

permissions:
  contents: write

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  update-slack-invitation-url:
    if: ${{ github.event.inputs.slack_url}}
    runs-on: ubuntu-slim
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Update Slack Invitation URL
        run: |
          .devenv/scripts/maintenance/update-slack-link.sh ${{ github.event.inputs.slack_url}}
        shell: bash
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "chore: Update Slack Invitation URL"