<module xmlns="urn:jboss:module:1.0" name="org.operaton.commons.operaton-commons-utils">
  <resources>
    <resource-root path="operaton-commons-utils-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.operaton.commons.operaton-commons-logging" />
  </dependencies>
</module>
